@use "./abstracts" as *;
@import "bootstrap-icons/font/bootstrap-icons.css";
html {
    font-size: 16px;
}
p {
    font-size: 0.875rem;
}

.bg__primary {
    background-color: $color-primary;
}
.masthead__ratio {
    aspect-ratio: 16/9;
}
.masthead__background {
    background-image: url(https://via.placeholder.com/1600x900);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__list-group {
    .list-group-item {
        background: transparent;
        border: 0;
    }
    a {
        color: white;
    }
}
/* @use "./components/button";
@use "./components/tiny-slider";

@use "./section/header";
@use "./section/masthead";
@use "./section/programme-openday";
@use "./section/youtube";
@use "./section/registration";

@use "./section/thank-you";

@use "~bootstrap-select/sass/bootstrap-select";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
 */
